header {
	text-align: center;
	color: #fff;
	position: relative;
}


body { background: #e3e3e3; -webkit-font-smoothing: antialiased; }

.jumbotron {
	width: 100%;
	min-height: 400px;
	padding: 50px;
	text-align: center;
	background: #333;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	overflow: hidden;
}

.head{
	min-height: 400px;
	background: #252525;
}

h1{
	color: #858585;
}

p{
	font-size: 20px;
	color: #959595;
}

#animation, #animation1, #animation2, #animation3, #animation4 {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 50px auto;
  position: relative;
}

#animation i, #animation1 i , #animation2 i , #animation3 i , #animation4 i {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}