/* Header Styles */

/* Header Styles */

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px;
    z-index: -1030;
    text-align: center;
    color: #fff;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}

.intro .intro-body {
	display: table-cell;
	vertical-align: bottom;

	}

.intro .intro-body .brand-heading {
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	color : #E5E5E5;
    font-size: 45px;
    position: relative;
    -webkit-animation: flyinTextTop 1s ease-in-out 1;
}

.intro .intro-body .intro-text {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	color : #FFF;
	position: relative;
    font-size: 30px;
    padding-bottom: 100px;
    -webkit-animation: flyinTextBottom 2s ease-in-out 1;
}
