/*  Body Styles */
.background {
    height:     100%;
    width:     100%;
    position: fixed;
    z-index:-100;
    background: url(../img/cover.jpg) left fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    height:     100% !important;
    background-color:   #111;
    font-size:  20px;
    font-family: 'Roboto', sans-serif;
}

h1  {
    color:  #0085FF;
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h4  {
    color:  #DDD;
    margin: 10px;
}

p, li  {
    font-size:  25px;
    margin: 10px;
    color:  #DDD;
    text-align: justify;
}

i   {
    color: #0085FF;
}

hr  {
    border: 1px solid #0085FF;
    margin-bottom: 20px;
    color:  #DDD;
    margin: 10px;
}

/*  Main Panel Styles */

.row    {
    max-width:  80%;
    margin-left:    10%;
}

.panel  {
    display:    table-cell;
    vertical-align: middle;
    border-radius:  5px;
    padding:    20px;
    margin:     0px;
    margin-top: 10px;
    border:     2px solid #333;
    text-align: justify;
    background-color:   rgba(255,255,255,0.85);
}

.jumbotron {
    width:      100%;
    padding:    50px;
    z-index:    100px;
    border-top: 2px solid #0085FF;
    border-bottom: 2px solid #222;
    -webkit-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    background-color: #111;
}

.jumbotron-alt {
    width:      100%;
    padding:    50px;
    z-index:    100px;
    border-top: 2px solid #111;
    border-bottom: 2px solid #222;
    -webkit-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    background-color: #0085FF;
}

.jumbotron-alt h1,.jumbotron-alt p,.jumbotron-alt li, .jumbotron-alt i {
    color:      #111;
}

.jumbotron-alt hr {
    border: 1px solid #111;
}

.trans-panel {
    height:     50%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}

/*  Circle Button */

.columns {
    text-align: center;
}

.btn-container {
    padding:    10px;
}

.fa-large   {
    font-size:  80px;
    height:150px;
    width:150px;
    padding:    30px;
    padding-top:35px;
    border:     2px solid #111;
    border-radius:  75px;
    background-color: rgba(0,0,0,0.15);
}

/*  Footer Styles */
.footer {
    border-top: 2px solid #0085FF;
    background-color:   #111;
    height:     50px;
    text-align: center;
}

.footer p {
    text-align: center;
    color:  #777;
}
