/*  Body Styles */
.background {
    height:     100%;
    width:     100%;
    position: fixed;
    z-index:-100;
    background: url(../img/cover.jpg) left fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    height:     100% !important;
    background-color:   #111;
    font-size:  20px;
    font-family: 'Roboto', sans-serif;
}

h1, h3  {
    color:  #0087FF;
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h4  {
    color:  #DDD;
    margin: 10px;
}

p, li  {
    font-size:  25px;
    margin: 10px;
    color:  #DDD;
    text-align: justify;
}

i   {
    color: #0087FF;
}

hr  {
    border: 1px solid #0087FF;
    margin-bottom: 20px;
    color:  #DDD;
    margin: 10px;
}

/*  Left Nav Styles */

.small-nav  {
    display:    block;
    position: fixed;
    width:  4%;
    padding-left:1%;
    top: 35%;
}

/*  Main Panel Styles */

.row    {
    max-width:  80%;
    margin-left:    10%;
}

.panel  {
    display:    table-cell;
    vertical-align: middle;
    border-radius:  5px;
    padding:    20px;
    margin:     0px;
    margin-top: 10px;
    border:     2px solid #333;
    text-align: justify;
    background-color:   rgba(255,255,255,0.85);
}

.jumbotron {
    width:      100%;
    padding:    50px;
    z-index:    100px;
    border-top: 2px solid #0087FF;
    border-bottom: 2px solid #222;
    -webkit-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    background-color: #111;
}

.jumbotron-alt {
    width:      100%;
    padding:    50px;
    z-index:    100px;
    border-top: 2px solid #111;
    border-bottom: 2px solid #222;
    -webkit-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px -1px rgba(0,0,0,0.75);
    background-color: #0087FF;
}

.jumbotron-alt h1, .jumbotron-alt h3,.jumbotron-alt p,.jumbotron-alt li, .jumbotron-alt i {
    color:      #111;
}

.jumbotron-alt hr {
    border: 1px solid #111;
}

.trans-panel {
    height:     50%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
}

/*  Button Styles */

.btn-large  {
    padding:    10px;
    height: 80px;
    width:  40%;
    margin-top:     40px;
    background-color: rgba( 0,0,0,0.5 );
    border: 2px solid #111;
    border-radius: 5px;

}

.btn-large p {
    text-align: center;
    color:  #111;
}

.btn-large:hover {
    background-color: rgba( 0,0,0,0.7 );
}

/*  Overlay Grids */

.overlay-info {
    height: 100%;
    width:  100%;
}

/*  Circle Button */

.columns {
    text-align: center;
}

.btn-container {
    padding:    10px;
}

.grid-cell  {
    margin: 20px;
}

.fa-large   {
    font-size:  60px;
    height:     150px;
    width:      150px;
    padding:    30px;
    padding-top:45px;
    border:     2px solid #111;
    border-radius:  75px;
    color:  #111;
    background-color: #0087FF;
    margin-bottom:  20px;
}

.fa-large-icon   {
    font-size:  60px;
    height:     150px;
    width:      150px;
    padding:    30px;
    padding-top:45px;
    border:     2px solid #0087FF;
    border-radius:  75px;
    background-color: #111;
    margin-bottom:  20px;
}

.fa-medium   {
    color:  #111;
    font-size:  50px;
    height:     100px;
    width:      100px;
    padding:    20px;
    padding-top:30px;
    border:     1px solid #111;
    border-radius:  75px;
    background-color: rgba(0,0,0,0.15);
}

.fa-small   {
    text-align: center;
    color:  #111;
    font-size:``  30px;
    height:     40px;
    width:      40px;
    padding-top:    9px;
    border:     1px solid #111;
    border-radius:  75px;
    margin: 5px;
    background-color: rgba(200,200,200,0.25);
}

.fa-small:hover {
    background-color: rgba(200,200,200,0.60)
}

.fa-angle-double-down:hover {
    background-color: rgba(0,0,0,0.25);
}

/*  Footer Styles */
.footer {
    border-top: 2px solid #0087FF;
    background-color:   #111;
    height:     70px;
    text-align: center;
}

.footer p {
    text-align: center;
    color:  #777;
}
